/*
Monokai style - ported by Luigi Maselli - http://grigio.org
*/

.hljs {
  /*display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #272822;*/
  color: #808080;
}

.hljs-tag,
.hljs-keyword,
.hljs-selector-tag,
.hljs-strong,
.hljs-name {
  color: #BF76D9;
}

.hljs-literal {
  color: #CB7743;
}


.hljs-code {
  color: #66d9ef;
}

.hljs-class .hljs-title {
  color: white;
}

.hljs-attribute,
.hljs-symbol,
.hljs-regexp,
.hljs-link {
  color: #bf79db;
}

.hljs-string,
.hljs-bullet,
.hljs-subst,
.hljs-title,
.hljs-section,
.hljs-emphasis,
.hljs-type,
.hljs-builtin-name,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: #75BE79;
}

.hljs-built_in {
  color: #61AFEF;
}

.hljs-test {
  color: #E05848;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta {
  color: #75715e;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-doctag,
.hljs-title,
.hljs-section,
.hljs-type,
.hljs-selector-id {
  font-weight: bold;
}
