body {
  margin: 0;
  background: #202020;
  font-family: 'Inconsolata', monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  position: fixed;
  z-index: 150;
}

.menu {
  position:absolute;
  z-index: 150;
  top: 0px;
  left: -150px;
  width: 150px;
}

header img {
  position: absolute;
  z-index: 100;
  height: 70px;
  top: 25px;
  left: 15px;
}

.title {
  background: white;
  text-align: center;
  line-height: 50px;
  border: 1px solid #202020;
}

#aboutBtn,
#projectsBtn,
#contactBtn {
  background: lightgrey;
  padding-left: 35px;
  line-height: 50px;
  border: 1px solid #202020;
  cursor: pointer;
}

.menu i {
  position: absolute;
  margin-top: 5px;
  margin-left: 160px;
  color: white;
  cursor: pointer;
}

.splash-mobile {
  display: none;
}

.splash-about,
.splash-contact,
.splash-projects {
  z-index: 10;
  background-color: white;
  /*opacity: 0.9;*/
  position: fixed;
  display: none;
  align-items: center;
  height: 80%;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.exitBtn {
  position: fixed;
  top: 0px;
  right: -35px;
  color: whitesmoke;
  cursor: pointer;
}

.contact-content,
.about-content {
  position: relative;
  width: 60%;
  left: 50%;
  transform: translate(-50%);
}

.contact-content h3 {
  text-align: center;
}

.contact-content ul {
  list-style-type: none;
  text-align: center;
}

.contact-content li {
  padding: 2px;
}

.contact-content li:first-child i {
  margin-left: -32px;
}

.contact-content li:nth-child(2) i {
  margin-left: -8px;
}

.projectsCar {
  z-index: 100;
  width: 60%;
  left: 50%;
  transform: translate(-50%);
  padding: 20px;
}

.frame {
  display: flex;
  flex-direction: row;
}

.frame img {
  align-self: center;
  height: 200px;
}

.words {
  padding-left: 10px;
}

.tab {
  margin-left: 20px;
}

.tab2 {
  margin-left: 40px;
}

.tab3 {
  margin-left: 60px;
}

.tab4 {
  margin-left: 80px;
}

.container {
  display: inline-block;
  height: 100vh;
  width: 100vw;
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 50vh;
  margin-left: 50vw;
  transform: translate(-50%, -50%);
  max-width: 700px;
}

.main {
  position: relative;
  line-height: 22px;
  display: flex;
  flex-direction: row;
}

.lineNums {
  text-align: right;
  color: #404040;
  background: #303030;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  padding-left: 5px;
  width: 16px;
}

.notepad {
  color: #808080;
  background: #303030;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding-left: 15px;
  /*min-height: 70vh;*/
  width: 60vw;
  max-width: 650px;
}

.input {
  padding-top: 5px;
}

#chev {
  position: fixed;
  font-size: 12px;
  margin-top: 6px;
  margin-left: 5px;
  color: blue;
}

input {
  width: calc(100% - 20px);
  max-width: 666px;
  background: whitesmoke;
  border: 1px;
  padding-left: 20px;
  line-height: 22px;
  font-family: 'Inconsolata', monospace;
  color: #606060;
  font-size: 14px;
}

input:focus {
  outline: none;
}

.console {
  width: 100%;
  max-width: 666px;
  line-height: 22px;
  font-family: 'Inconsolata', monospace;
  color: maroon;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.5s linear;
}

.console i {
  padding: 0px 6px 0px 3px;
}

.popup {
  display: none;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

.purple {
  color: #BF76D9;
}

.cy {
  color: #47A3B0;
}

.blue {
  color: #5AA8D6;
}

@media (max-width: 768px) {
  header img,
  .content {
    display: none;
  }

  .menu {
    position: relative;
    left: 5vw;
    width: 90vw;

  }

  .menu i {
    left: 75vw;
    margin-top:10px;
    margin-left:0px;
    color: black;
  }

  #aboutBtn,
  #projectsBtn,
  #contactBtn {
    display: none;
  }

  .splash-mobile {
    z-index: 1;
    color: #606060;
    background-color: #202020;
    position: fixed;
    display: flex;
    text-align: center;
    align-items: center;
    height: 50%;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .splash-about,
  .splash-contact,
  .splash-projects {
    z-index: 10;
    background-color: white;
    position: fixed;
    display: none;
    align-items: center;
    width: 95%;
  }
  .projectsCar {
    z-index: 100;
    padding: 20px;
    transform: translate(0);
    overflow: scroll;
    height: 100%;
    width: 100%;
  }

  .frame img {
    display: none;
  }
}
